target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
JPU-BlankProject/contract/.classpath
JPU-BlankProject/entity/.classpath
JPU-BlankProject/main/.classpath
JPU-BlankProject/view/.classpath
JPU-BlankProject/view/.classpath
JPU-BlankProject/main/.classpath
JPU-BlankProject/main/.classpath
JPU-BlankProject/entity/.classpath
JPU-BlankProject/contract/.classpath
